@import "tailwindcss";

@font-face {
  font-family: 'ReportSb';
  src: url('/fonts/ReportSb-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoodTimes';
  src: url('/fonts/good times rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
